<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dark Bootstrap Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="http://localhost:1915/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="http://localhost:1915/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="http://localhost:1915/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="http://localhost:1915/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="http://localhost:1915/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="http://localhost:1915/img/favicon.ico">

    
  </head>
  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input type="search" name="search" placeholder="What are you searching for...">
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="http://localhost:1915/" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase">
                <img src="http://localhost:1915/img/0.png">
              </div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">
            <!-- Tasks end-->
            <!-- Log out               -->
            <div class="list-inline-item logout">                   <a id="logout" href="logout" class="nav-link"> <span class="d-none d-sm-inline">Logout </span><i class="icon-logout"></i></a></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">Mark Stephen</h1>
            <p>Web Designer</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li class="active"><a href="index.html"> <i class="	fa fa-home"></i>Home</a></li>
          <li><a href="tables.html"> <i class="fa fa-user"></i>Add Employee</a></li>
          <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Payroll Management</a></li>
          <li><a href="forms.html"> <i class="icon-padnote"></i>Leave Management</a></li>
          <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-plane"></i>Travel Management</a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
              <li><a href="#">Add</a></li>
              <li><a href="#">View</a></li>
            </ul>
          </li>
          <li><a href="login.html"> <i class="fa fa-bed"></i>Holidays</a></li>
        </ul>
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form method="POST" action="/holi_add">
                  <div class="wrapper1">
                    <br>
                    <h2 class="form-heading">Add Holiday List</h2>
                    <hr class="hr-divider">
         
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <br>
                        <div class="material-textfield blue" style="margin-top: 30px;">
                          <input type="text" name="holiday_name" id="h_id" required/>
                          <label data-content="Holiday Name">Holiday Name</label>
                        </div>
                        <span style="margin-left: 30px;
                        color: red;" id="empid-label"></span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red" style="margin-top: 30px;">
                            <span>Holiday Date</span>
                          <input type="date" name="holiday_date" id="h_date" required/>
                         
                       </div>
                      </div>
                    </div>

                 
                    <br>
      
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <select name="country_id" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option  selected>Country</option>
                                <% country_data.forEach(function (country) { %>
                                    <option value="<%= country.ID  %>"><%= country.NAME  %></option>
                                    <% }) %>
                              </select>
                            
                        </div>
                      </div>
                     
                  
                    </div>
                    
                    <br>
                    <div class="row">
                    
                   
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                           
                           
                      
                       
                         </form>
                        </div>
                      </div>
                    </div>
      <br>
      <button class="btn-submit" >ADD</button>
    </div>
      </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
   
<script>

function s(event){
 
  
    swal({
  title: "Good job!",
  text: "record",
  icon: "success",
});

  }
  


</script>




  </body>
</html>
