<%- include ('partials/header'); -%>
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form method="POST" action="myaction">
                  <div class="wrapper1">
                    <br>
                    <h2 class="form-heading">Enter Employee Payroll Details</h2>
                    <hr class="hr-divider">
         
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue" style="margin-top: 30px;">
                          <input type="text" name="employee_id" id="emp_id" required/>
                          <label data-content="Employee ID">Employee ID</label>
                        </div>
                        <span style="margin-left: 30px;
                        color: red;" id="empid-label"></span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red" style="margin-top: 30px;">
                          <input type="text" name="basic_salary" required/>
                          <label data-content="Basic Salary">Basic Salary</label>
                       </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                          <input type="text" name="hra" required/>
                          <label data-content="HRA">HRA</label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                          <input type="text" name="sa" required/>
                          <label data-content="SA">SA</label>
                       </div>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                          <input type="text" name="professional_tax" required/>
                          <label data-content="Professional TAX(in %)">Professional TAX(in %)</label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                          <input type="text" name="tax_source" required/>
                          <label data-content="Tax Deductions from source">Tax Deductions from source</label>
                       </div>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                          <input type="text" name="standard_deduction" required/>
                          <label data-content="Standard Deduction">Standard Deduction</label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield red">
                          <input type="text" name="other_deductions" required/>
                          <label data-content="Other Deductions">Other Deductions</label>
                       </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                          <input type="text" name="net_amount" required/>
                          <label data-content="Net Amount">Net Amount</label>
                        </div>
                      </div>
                    </div>
      <br>
      <button class="btn-submit">Submit</button>
    </div>
      </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include ('partials/footer'); -%>
    <script>
    $("#emp_id").focusout(function()
    {
      $.ajax({
        type:'get',
        data: {send_data: $("#emp_id").val()},
        url: '/fetch_id',
        success:function(newData)
        {
          $("#empid-label").html(newData)
        }
      })
    })
    </script>
  </body>
</html>