<%- include ('../secret/heade') %>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form method="POST" action="/training/train_add" enctype="multipart/form-data">
                  <div class="wrapper1">
                    <br>
                    <h2 class="form-heading">Add Holiday List</h2>
                    <hr class="hr-divider">
         
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <br>
                        <div class="material-textfield blue" style="margin-top: 30px;">
                          <input type="text" name="training_title" id="h_id" required/>
                          <label data-content="Trainng Title">Trainng Title</label>
                        </div>
                        <span style="margin-left: 30px;
                        color: red;" id="empid-label"></span>
                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <br>
                        <div class="material-textfield red" style="margin-top: 30px;">
                            <input type="text" name="video_url" id="h_id" required/>
                          <label data-content="Trainng Video URL">Trainng Video URL</label>
                       </div>
                      </div>
                    </div>

                 
                    <br>
      
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                            <span>Upload Training Document</span>
                            <input type="file" name="training_doc">
                            
                        </div>
                      </div>
                     
                  
                    </div>
                    
                    <br>
                    <div class="row">
                    
                   
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="material-textfield blue">
                           
                           
                      
                       
                         </form>
                        </div>
                      </div>
                    </div>
      <br>
      <button id="add" style="margin-left: 30px;"  class="btn btn-outline-warning btn-lg"><i  class="fas fa-plus-circle"></i> ADD</button>
    </div>
      </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
    <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="http://localhost:1915/js/charts-home.js"></script>
    <script src="http://localhost:1915/js/front.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
   
<script>

function s(event){
 
  
    swal({
  title: "Good job!",
  text: "record",
  icon: "success",
});

  }
  


</script>




  </body>
</html>
