
    <%- include ('../secret/heade') %>
    <!-- Sidebar Navigation end-->
    <div class="page-content">
      <div class="page-header">
        <div class="container-fluid">
          <h2 class="h5 no-margin-bottom">Dashboard</h2>
        </div>
      </div>
      <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-sm-6">
             
            </div>
         
           
         
          </div>
        </div>
      </section>
      <section class="no-padding-top no-padding-bottom payroll-list-sec">
        <div class="container-fluid payroll-list">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                  <h2 class="form-heading-table">Training Task</h2>
                  <hr class="hr-divider-table">
                </div>
              
              </div>
              <div class="row">
                <div  style="margin-left: 400px;"  class="col-md-3 col-md-offset-3">
                    <video style="height: 480px; width:px;" id="videoPlayer" controls muted="muted" autoplay> 
                        <source src="http://localhost:1915/video/7" type="video/mp4">
                      </video>
                </div>
              </div>
           

           
                </div>
            </div>
          </div>
        </div>
      </section>
    
  <script src="http://localhost:1915/vendor/jquery/jquery.min.js"></script>
  <script src="http://localhost:1915/vendor/popper.js/umd/popper.min.js"> </script>
  <script src="http://localhost:1915/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://localhost:1915/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="http://localhost:1915/vendor/chart.js/Chart.min.js"></script>
  <script src="http://localhost:1915/vendor/jquery-validation/jquery.validate.min.js"></script>
  <script src="http://localhost:1915/js/charts-home.js"></script>
  <script src="http://localhost:1915/js/front.js"></script>
</body>
</html>